@page
@using MB.Domain.Helper
@model CommentsModel
@{
}

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="p-4 pt-5">
            <h1 style="font-size: 2.5em">
                <a href="index.html" class="logo">Dashboard</a>
            </h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a
                        asp-page="/Admin/Index">
                        Home
                    </a>
                    @*                 data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle"*@
                    @*                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>*@
                </li>
                <li>
                    <a asp-page="/Index">WebSite</a>
                </li>
                <li>
                    <a
                        href="#pageSubmenu">
                        Pages
                    </a
                    >
                    @*                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>*@
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">
                        <b class="honeydew">My Articles</b>
                    </a>
                </li>
            </ul>

            <div class="mb-5">
                <h3 class="h6">Subscribe for newsletter</h3>
                <form action="#" class="colorlib-subscribe-form">
                    <div class="form-group d-flex">
                        <div class="icon">
                            <span class="icon-paper-plane"></span>
                        </div>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Email Address"/>
                    </div>
                </form>
            </div>

            <div class="footer">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="icon-heart" aria-hidden="true"></i> by
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Comment List</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                @*<th>Name</th>*@
                <th>Email</th>
                <th>Message</th>
                <th>Status</th>
                <th>Operation</th>
                @*<th>CreationDate</th>*@
                @*<th>Article Name</th>*@
            </tr>
            </thead>
            <tbody>
            @foreach (var item in @Model.Comment)
            {
                
                    
                    
                    
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modalRegister@(item.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p><b>ID: </b> @item.Id</p>
                                    <p><b>Name: </b>@item.Name</p>
                                    <p><b>Email: </b>@item.Email</p>
                                    <p><b>Message: </b>@item.Message</p>
                                    <p><b>Creationdate: </b>@item.Creationdate</p>
                                    <p><b>Article Name: </b>@item.Article</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                <tr style="cursor: pointer" data-toggle="modal" data-target="#modalRegister@(item.Id)">
                   

                    <th>@item.Id</th>
                    <th>@item.Email</th>
                    <th>@item.Message</th>
                    <th>
                        @if (item.Status == StatusHelper.New)
                        {
                            <i class="fas fa-eye"></i>
                        }
                        else if (item.Status == StatusHelper.Confirmed)
                        {
                            <i class="fa fa-check fa-btn-adm"></i>
                        }
                        else if (item.Status == StatusHelper.Canceled)
                        {
                            <i class="fas fa-times"></i>
                        }
                    </th>
                    <th>
                        <form method="post" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-danger" asp-route-id="@item.Id" asp-page-handler="Reject">Reject</button>
                            <button type="submit" class="btn btn-sm btn-success" asp-route-id="@item.Id" asp-page-handler="Confirme">Confirme</button>
                        </form>
                    </th>
           
                </tr>
               
            }
            </tbody >
        </table>
    </div>
</div>